/* GENERALES */
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bebas Neue', cursive;
  font: white; }

/* LOGO TICKET */
.logo {
  height: 20px; }

.navbar-nav a:hover {
  color: white; }

/* ENCABEZADO DONDE ESTAN EL LOGO Y NAV */
/*LOGO MIKITECK*/
@media screen and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    width: 100%; }
  .header__logo {
    align-self: center; } }

.logo {
  transform: rotate(160deg);
  image-rendering: optimizeQuality;
  height: 20px; }

.linknav {
  text-decoration: none; }
  .linknav h1 {
    color: white;
    font-size: 1.8rem; }
    .linknav h1 h1:hover {
      color: gray; }

/* BARRA NAVEGADOR */
nav ul {
  display: flex;
  list-style: none; }
  nav ul li {
    margin: 10px;
    font-size: 1rem; }
  nav ul li a {
    text-decoration: none;
    color: white; }
  nav ul li a:hover {
    color: gray; }

body {
  display: grid;
  color: white;
  grid-template-areas: "header" "main" "footer";
  height: 100%; }
  @media screen and (max-width: 768px) {
    body body {
      width: 100%;
      height: 100%; } }

@media screen and (max-width: 768px) {
  display: flex;
  flex-direction: column; }

footer {
  background-color: #292c2f;
  color: #bbb;
  justify-content: center;
  align-items: center;
  padding: 10px; }

.footer__contenedor {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  gap: 10px; }

footer a {
  color: #999;
  text-decoration: none; }

footer a:hover, footer a:focus {
  color: #aaa;
  text-decoration: none;
  border-bottom: 1px dotted #999; }

footer .form-control {
  background-color: #1f2022;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
  border: none;
  resize: none;
  color: #d1d2d2;
  padding: 0.7em 1em; }

.contacto__numero {
  font-size: 1rem;
  padding: 0; }

.contacto__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px; }

.contacto__ubicacion {
  font-size: 1rem;
  padding: 0;
  display: flex; }

.company {
  text-align: center; }
  .company h3 {
    font-size: 16px; }

/*Mixins*/
/* ABOUT */
.logoabout {
  display: flex;
  flex-direction: row;
  grid-area: imagen1;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  margin-top: 100px;
  height: 100px; }
  .logoabout__contenedor {
    position: relative;
    left: 250px; }
  .logoabout__fraselogo {
    position: relative;
    left: 240px; }
  .logoabout hr {
    grid-area: imagen1;
    border: 0;
    border-top: 2px solid #999;
    border-bottom: 0px solid #e6dada;
    width: 500px;
    position: relative;
    top: 100px;
    right: 100px; }
  @media screen and (max-width: 768px) {
    .logoabout {
      grid-area: aboutlogo;
      position: relative;
      right: 250px; } }

.parrafo {
  display: flex;
  grid-area: parrafo;
  flex-direction: column;
  justify-content: center;
  padding-top: 100px;
  margin-top: 50px; }
  .parrafo__parrafo1 {
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    height: 100%; }

/*--ABOUT US--*/
.about {
  grid-area: main;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/imagencontact.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10% 1fr 1fr 1fr;
  grid-template-areas: "imagen1 imagen1" "parrafo parrafo" "imagen2 imagen2" "titulo titulo";
  padding: 30px;
  /*media query*/ }
  .about p {
    margin-top: 10px;
    padding: 10px;
    text-shadow: 1px 1px 10px black; }
  @media screen and (max-width: 768px) {
    .about {
      display: flex;
      flex-direction: column; }
      .about hr {
        display: none; } }

h2 {
  padding: 10px; }

/*BANDAS COLABORACIONES*/
.bandas {
  grid-area: imagen2;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  /*media query*/ }
  .bandas__titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /*incluyo mixin*/
    display: flex;
    flex-direction: column;
    padding: 1px;
    text-shadow: 5px 5px 5px black; }
    .bandas__titulo h3 {
      font-size: 3rem; }
  .bandas__imagenes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /*incluyo mixin*/
    gap: 30px; }
  @media screen and (max-width: 768px) {
    .bandas {
      display: flex;
      flex-direction: column; }
      .bandas__imagenes {
        display: flex;
        flex-direction: column; } }

/*TITULO FINAL*/
.titulofinal {
  grid-area: titulo;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  /*incluyo mixin*/
  align-self: center;
  text-align: center; }
  .titulofinal h3 {
    text-shadow: 5px 5px 5px black;
    font-size: 4.5rem; }
  @media screen and (max-width: 768px) {
    .titulofinal {
      /*media query*/
      padding-top: 50px; } }

.animate__bounce {
  animation-duration: 8s; }

/*--INDEX CON GRID--*/
.hero {
  display: grid;
  grid-area: main;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "titulo titulo titulo" "carta carta carta" "carta carta carta";
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
  gap: 10px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/imagenhero.jpg);
  background-size: cover;
  padding: 5rem; }
  @media screen and (max-width: 768px) {
    .hero {
      height: 100%;
      width: 100%; } }

/* TITULO PRINCIPAL*/
.contenedor {
  grid-area: titulo;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  height: auto; }
  .contenedor__titulologo {
    display: flex;
    align-items: center;
    gap: 5px; }
  .contenedor h1 {
    font-size: 2rem; }
  .contenedor__minititulo {
    text-shadow: 1px 1px 10px black;
    display: flex;
    align-items: center; }
    .contenedor__minititulo h2 {
      font-size: 1rem; }

.contenedor__cartas {
  grid-area: carta;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "carta1 carta2 publicidad" "carta3 carta4 publicidad";
  height: 50vh;
  width: 100%;
  gap: 5px;
  /*media query*/ }
  @media screen and (max-width: 768px) {
    .contenedor__cartas {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%; } }
  @media screen and (min-width: 768px) {
    .contenedor__cartas {
      text-align: center; } }
  .contenedor__cartas a {
    text-decoration: none;
    color: white; }

.cartas {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  /*incluyo mixin*/
  box-shadow: 0 2px 2px black;
  border: 0px solid black;
  border-radius: 10px;
  /*media query*/ }
  .cartas:hover {
    transform: scale(1.1); }
  .cartas h3 {
    text-shadow: 1px 1px 1px black; }
  @media screen and (max-width: 768px) {
    .cartas {
      text-align: center;
      height: 100px; } }

/*EACH PARA LAS CARTAS */
.carta1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/carta1.jpg);
  background-size: cover;
  font-size: 2rem;
  grid-area: carta1;
  /*media query*/ }
  @media screen and (max-width: 768px) {
    .carta1 {
      text-align: center; } }

.carta2 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/carta2.jpg);
  background-size: cover;
  font-size: 2rem;
  grid-area: carta2;
  /*media query*/ }
  @media screen and (max-width: 768px) {
    .carta2 {
      text-align: center; } }

.carta3 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/carta3.jpg);
  background-size: cover;
  font-size: 2rem;
  grid-area: carta3;
  /*media query*/ }
  @media screen and (max-width: 768px) {
    .carta3 {
      text-align: center; } }

.carta4 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/carta4.jpg);
  background-size: cover;
  font-size: 2rem;
  grid-area: carta4;
  /*media query*/ }
  @media screen and (max-width: 768px) {
    .carta4 {
      text-align: center; } }

.publicidad {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  /*incluyo mixin*/
  flex-direction: column;
  grid-area: publicidad;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../imagenes/Aside.jpg);
  border-radius: 10px;
  box-shadow: 0 2px 2px black;
  /*media query*/ }
  .publicidad:hover {
    transform: scale(1.1); }
  .publicidad h3 {
    text-shadow: 1px 1px 1px black; }
  .publicidad__titulo {
    color: white;
    font-size: 3rem;
    text-shadow: 0px 0px 5px grey; }
    .publicidad__titulo a {
      text-decoration: none;
      color: white; }
  @media screen and (max-width: 768px) {
    .publicidad {
      height: 100px;
      padding: 10px; } }

/*-- NEXT-CONCERT-- */
.nextconcert {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/nextconcert.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%; }
  .nextconcert__titulo h2 {
    font-size: 6rem; }

.cards {
  box-shadow: 0 2px 2px black;
  border: 1px solid black;
  border-radius: 15px;
  justify-content: center;
  align-items: center; }
  .cards img {
    border-radius: 15px; }
  @media screen and (max-width: 768px) {
    .cards {
      display: flex;
      flex-direction: column;
      margin-top: 5px; } }

/*EXPERIENCIAS */
.exp {
  padding: 50px;
  width: 100%; }
  .exp img {
    border-radius: 200px; }

/*--CONTACTO--*/
.contacto {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%; }
  @media screen and (max-width: 768px) {
    .contacto {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%; } }
  .contacto__principal {
    background-image: url(../imagenes/aboutUs.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%; }
  .contacto__titulo {
    text-align: center;
    height: 150px; }
    .contacto__titulo__contenedor h1 {
      position: relative;
      top: 30px;
      right: 20px;
      text-shadow: 1px 1px 1px black; }

.btn {
  background-color: #413F42; }

.btn:hover {
  opacity: 0.5;
  scale: 1.1; }

.btn-block {
  background-color: #413F42; }

.btn-primary {
  height: 100%; }

@media screen and (max-width: 768px) {
  .contacto__cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; } }

.card {
  padding: 30px 40px;
  margin-top: 60px;
  border: none !important;
  box-shadow: 5px 6px 12px 10px rgba(0, 0, 0, 0.2);
  color: black; }

.card-body1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.blue-text {
  color: white; }

.form-control-label {
  margin-bottom: 0; }

input, textarea, button {
  padding: 8px 15px;
  border-radius: 5px !important;
  margin: 5px 0px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  font-size: 18px !important;
  font-weight: 300; }

input:focus, textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #00BCD4;
  outline-width: 0;
  font-weight: 400; }

.btn-block {
  text-transform: uppercase;
  font-size: 15px !important;
  font-weight: 400;
  height: 43px;
  cursor: pointer; }

.btn-block:hover {
  color: #fff !important; }

button:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0; }

.contacto_cards {
  height: 100px; }

.contacto__beneficios {
  color: white;
  background: #413F42;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px; }
  @media screen and (max-width: 768px) {
    .contacto__beneficios {
      display: flex;
      flex-direction: column; } }
  .contacto__beneficios ul {
    list-style: none; }

/*--DESCUBRE--*/
.descubre {
  background-color: burlywood;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-areas: "box0des box0des" "box1des box1des" "box2des box2des" "box3des box3des";
  height: 100%;
  width: 100%;
  /*media query*/ }
  @media screen and (max-width: 768px) {
    .descubre {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas: "lola" "tomorrow" "rock" "cream";
      width: 100%;
      height: 100%; } }

/*MAP GET TITULOS*/
.box0 {
  grid-area: box0des;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/discover0.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  z-index: 10;
  flex-direction: row;
  justify-content: space-around;
  height: 400px;
  /*media query*/ }
  .box0__titulo {
    display: flex;
    /*Creacion de map get*/
    justify-self: center;
    align-self: center;
    padding: 30px;
    font-size: 2rem;
    text-shadow: 10px 5px 5px black;
    text-align: left; }
  .box0__video, .box1__video, .box2__video, .box3__video {
    display: flex;
    padding: 10px;
    align-items: center; }
  .box0__parrafo, .box1__parrafo, .box2__parrafo, .box3__parrafo {
    font-size: 20px;
    align-self: center;
    padding: 50px;
    text-shadow: 1px 1px 10px black; }
  @media screen and (max-width: 768px) {
    .box0 {
      grid-area: lola;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      height: 100%;
      width: 100%; } }

.box1 {
  grid-area: box1des;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/discover1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  z-index: 1;
  flex-direction: row-reverse;
  justify-content: space-around;
  height: 400px;
  /*media query*/ }
  .box1__titulo {
    display: flex;
    /*se aplica mapget*/
    justify-self: center;
    align-self: center;
    padding: 30px;
    font-size: 2rem;
    text-shadow: 10px 5px 5px black;
    text-align: center; }
  .box1__video {
    /*se aplica extend*/ }
  @media screen and (max-width: 768px) {
    .box1 {
      grid-area: tomorrow;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      height: 100%;
      width: 100%; } }

.box2 {
  grid-area: box2des;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/discover2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  z-index: 10;
  flex-direction: row;
  justify-content: space-around;
  height: 400px;
  /*media query*/ }
  .box2__titulo {
    display: flex;
    /*se aplica mapget*/
    justify-self: center;
    align-self: center;
    padding: 30px;
    font-size: 2rem;
    text-shadow: 10px 5px 5px black;
    text-align: left; }
  .box2__video {
    /*se aplica extend*/ }
  @media screen and (max-width: 768px) {
    .box2 {
      grid-area: rock;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      height: 100%;
      width: 100%; } }

.box3 {
  grid-area: box3des;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/discover3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  z-index: 2;
  flex-direction: row-reverse;
  justify-content: space-around;
  height: 400px;
  /*media query*/ }
  .box3__titulo {
    display: flex;
    /*se aplica mapget*/
    justify-self: center;
    align-self: center;
    padding: 30px;
    font-size: 2rem;
    text-shadow: 10px 5px 5px black;
    text-align: center; }
  .box3__video {
    /*se aplica extend*/ }
  @media screen and (max-width: 768px) {
    .box3 {
      grid-area: cream;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      height: 100%;
      width: 100%; } }
