* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bebas Neue', cursive;
  font: white; }

.logo {
  height: 20px; }

.navbar-nav a:hover {
  color: white; }

h1:hover {
  color: gray; }

.linknav a:hover {
  color: grey; }

/* ENCABEZADO DONDE ESTAN EL LOGO Y NAV */
/*LOGO*/
.header__logo img {
  position: relative;
  top: 5px;
  right: 4px;
  transform: rotate(160deg);
  image-rendering: optimizeQuality;
  margin-left: 10px; }

.header__logo {
  display: flex; }

.header__logo h1 {
  color: white;
  font-size: 1.8rem;
  position: relative;
  right: 6px;
  text-decoration: none; }

.header__logo a {
  text-decoration: none;
  color: white; }

/* BARRA NAVEGADOR */
nav ul {
  display: flex;
  list-style: none; }

ul li {
  margin: 10px;
  font-size: 1rem; }

li a {
  text-decoration: none;
  color: white; }

li a:hover {
  color: gray; }

.logoabout {
  display: flex;
  flex-direction: row;
  grid-area: imagen1;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  margin-top: 100px;
  height: 100px; }
  .logoabout__contenedor {
    position: relative;
    left: 250px; }
  .logoabout__fraselogo {
    position: relative;
    left: 240px; }
  .logoabout hr {
    grid-area: imagen1;
    border: 0;
    border-top: 2px solid #999;
    border-bottom: 0px solid #e6dada;
    width: 500px;
    position: relative;
    top: 100px;
    right: 100px; }

.parrafo {
  display: flex;
  grid-area: parrafo;
  flex-direction: column;
  justify-content: center;
  padding-top: 100px;
  margin-top: 50px; }
  .parrafo__parrafo1 {
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    height: 100%; }

footer {
  display: flex;
  grid-area: footer;
  height: 6rem;
  background: #41076a;
  background: -moz-linear-gradient(87deg, #41076a 0%, #6b1e84 47%, #19003e 100%);
  background: -webkit-linear-gradient(87deg, #41076a 0%, #6b1e84 47%, #19003e 100%);
  background: linear-gradient(87deg, #41076a 0%, #6b1e84 47%, #19003e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#41076a",endColorstr="#19003e",GradientType=1);
  justify-content: center;
  font-size: 1rem; }
  footer h3 {
    padding: 10px;
    color: white; }

.bandas {
  grid-area: imagen2;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-areas: "collab collab"
 "banda1 banda2"
 "banda3 banda4"
 "banda5 banda6";
  padding: 10px; }
  .bandas .bandas__titulo {
    grid-area: collab;
    display: flex;
    flex-direction: column;
    padding: 1px;
    font-size: 2rem;
    text-shadow: 10px 5px 5px black;
    align-self: center;
    justify-self: center; }
  .bandas .imagencolab1 {
    grid-area: banda1;
    justify-self: center; }
  .bandas .imagencolab2 {
    grid-area: banda2;
    justify-self: center; }
  .bandas .imagencolab3 {
    grid-area: banda3;
    justify-self: center; }
  .bandas .imagencolab4 {
    grid-area: banda4;
    justify-self: center; }
  .bandas .imagencolab5 {
    grid-area: banda5;
    justify-self: center; }
  .bandas .imagencolab6 {
    grid-area: banda6;
    justify-self: center; }

.about {
  width: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/imagencontact.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10% 1fr 1fr 1fr;
  grid-template-areas: "imagen1 imagen1"
 "parrafo parrafo"
 "imagen2 imagen2"
 "titulo titulo";
  padding: 30px; }

/* TITULO FINAL */
.titulofinal {
  grid-area: titulo;
  justify-items: center;
  align-self: center;
  text-align: center;
  font-size: 4.5rem;
 }
.titulofinal .titulofinal h3{
    text-shadow: 5px 5px 5px black;}
    .animate__bounce {
  animation-duration: 8s; }
