/* GENERALES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bebas Neue', cursive;
  font: white; }

/* LOGO TICKET */
.logo {
  height: 20px; }

.navbar-nav a:hover {
  color: white; }

/* ENCABEZADO DONDE ESTAN EL LOGO Y NAV */
/*LOGO MIKITECK*/
@media screen and (max-width: 767px) {
  header {
    display: flex;
    flex-direction: column;
    width: 100%; }
  .header__logo {
    align-self: center; } }

.logo {
  position: relative;
  transform: rotate(160deg);
  image-rendering: optimizeQuality;
  height: 20px; }

.linknav {
  text-decoration: none; }
  .linknav h1 {
    color: white;
    font-size: 1.8rem;
    position: relative; }
  .linknav h1:hover {
    color: gray; }

/* BARRA NAVEGADOR */
nav ul {
  display: flex;
  list-style: none; }
  nav ul li {
    margin: 10px;
    font-size: 1rem; }
  nav ul li a {
    text-decoration: none;
    color: white; }
  nav ul li a:hover {
    color: gray; }

body {
  display: grid;
  color: white;
  grid-template-areas: "header" "main" "footer";
  height: 100%; }
  @media screen and (max-width: 767px) {
    body body {
      width: 100%;
      height: 100%; } }

footer {
  display: flex;
  grid-area: footer;
  height: 6rem;
  background: #212529;
  font-size: 1rem;
  justify-content: center; }
  footer h3 {
    padding: 10px;
    color: white;
    align-self: center; }

/*Mixins*/
/* ABOUT */
.logoabout {
  display: flex;
  flex-direction: row;
  grid-area: imagen1;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  margin-top: 100px;
  height: 100px; }
  .logoabout__contenedor {
    position: relative;
    left: 250px; }
  .logoabout__fraselogo {
    position: relative;
    left: 240px; }
  .logoabout hr {
    grid-area: imagen1;
    border: 0;
    border-top: 2px solid #999;
    border-bottom: 0px solid #e6dada;
    width: 500px;
    position: relative;
    top: 100px;
    right: 100px; }

.parrafo {
  display: flex;
  grid-area: parrafo;
  flex-direction: column;
  justify-content: center;
  padding-top: 100px;
  margin-top: 50px; }
  .parrafo__parrafo1 {
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    height: 100%; }

/*--ABOUT US--*/
.about {
  grid-area: main;
  width: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/imagencontact.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10% 1fr 1fr 1fr;
  grid-template-areas: "imagen1 imagen1" "parrafo parrafo" "imagen2 imagen2" "titulo titulo";
  padding: 30px; }

.parrafo {
  margin-top: 30px;
  padding: 10px;
  text-shadow: 1px 1px 10px black; }

h2 {
  padding: 10px; }

/*BANDAS COLABORACIONES*/
.bandas {
  grid-area: imagen2;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px; }
  .bandas__titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /*incluyo mixin*/
    display: flex;
    flex-direction: column;
    padding: 1px;
    text-shadow: 10px 5px 5px black; }
    .bandas__titulo h3 {
      font-size: 3rem; }
  .bandas__imagenes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /*incluyo mixin*/
    gap: 30px; }

/*TITULO FINAL*/
.titulofinal {
  grid-area: titulo;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  /*incluyo mixin*/
  align-self: center;
  text-align: center; }
  .titulofinal h3 {
    text-shadow: 5px 5px 5px black;
    font-size: 4.5rem; }

.animate__bounce {
  animation-duration: 8s; }

/*--INDEX CON GRID--*/
.hero {
  display: grid;
  grid-area: main;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "titulo titulo titulo" "carta carta carta" "carta carta carta";
  justify-content: center;
  align-content: center;
  width: 100%;
  gap: 10px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/imagenhero.jpg);
  background-size: cover;
  padding: 5rem; }

/* TITULO PRINCIPAL*/
.contenedor {
  grid-area: titulo;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  height: auto; }
  .contenedor__titulologo {
    display: flex;
    align-items: center;
    gap: 5px; }
  .contenedor h1 {
    font-size: 2rem; }
  .contenedor__minititulo {
    text-shadow: 1px 1px 10px black;
    display: flex;
    align-items: center; }
    .contenedor__minititulo h2 {
      font-size: 1rem; }

.contenedor__cartas {
  grid-area: carta;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "carta1 carta2 publicidad" "carta3 carta4 publicidad";
  height: 50vh;
  width: 100%;
  gap: 5px; }
  .contenedor__cartas a {
    text-decoration: none;
    color: white; }

.cartas {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  /*incluyo mixin*/
  box-shadow: 0 2px 2px black;
  border: 0px solid black;
  border-radius: 10px; }
  .cartas:hover {
    transform: scale(1.1); }
  .cartas h3 {
    text-shadow: 1px 1px 1px black; }

/*EACH PARA LAS CARTAS */
.carta1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/carta1.jpg);
  background-size: cover;
  font-size: 2rem;
  grid-area: carta1; }

.carta2 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/carta2.jpg);
  background-size: cover;
  font-size: 2rem;
  grid-area: carta2; }

.carta3 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/carta3.jpg);
  background-size: cover;
  font-size: 2rem;
  grid-area: carta3; }

.carta4 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/carta4.jpg);
  background-size: cover;
  font-size: 2rem;
  grid-area: carta4; }

.publicidad {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  /*incluyo mixin*/
  flex-direction: column;
  grid-area: publicidad;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../imagenes/Aside.jpg);
  border-radius: 10px;
  box-shadow: 0 2px 2px black; }
  .publicidad:hover {
    transform: scale(1.1); }
  .publicidad h3 {
    text-shadow: 1px 1px 1px black; }
  .publicidad__titulo {
    color: white;
    font-size: 3rem;
    text-shadow: 0px 0px 5px grey; }
    .publicidad__titulo a {
      text-decoration: none;
      color: white; }

/*-- NEXT-CONCERT-- */
.nextconcert {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/nextconcert.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%; }
  .nextconcert__titulo h2 {
    font-size: 6rem; }

.card {
  opacity: 1; }
  .card img {
    background-size: cover; }
  .card:hover {
    opacity: 0.5; }

/*EXPERIENCIAS */
.exp {
  padding: 50px;
  width: 100%; }
  .exp img {
    border-radius: 200px; }

/*--CONTACTO--*/
.contacto {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/aboutUs.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%; }
  .contacto h2 {
    font-size: 4.5rem;
    text-shadow: 4px 1px 1px black; }
  .contacto_lista ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    height: max-content; }
    .contacto_lista ul li p {
      font-size: 20px; }

.animate__jackInTheBox {
  animation-duration: 2s; }

/*--DESCUBRE--*/
.descubre {
  background-color: burlywood;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-areas: "box0des box0des" "box1des box1des" "box2des box2des" "box3des box3des";
  height: 100%;
  width: 100%; }

/*MAP GET TITULOS*/
.box0 {
  grid-area: box0des;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/discover0.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 400px; }
  .box0__titulo {
    display: flex;
    /*Creacion de map get*/
    justify-self: center;
    align-self: center;
    padding: 30px;
    font-size: 2rem;
    text-shadow: 10px 5px 5px black;
    text-align: left; }
  .box0__video, .box1__video, .box2__video, .box3__video {
    display: flex;
    padding: 10px;
    align-items: center; }
  .box0__parrafo, .box1__parrafo, .box2__parrafo, .box3__parrafo {
    font-size: 20px;
    align-self: center;
    padding: 50px;
    text-shadow: 1px 1px 10px black; }

.box1 {
  grid-area: box1des;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/discover1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  height: 400px; }
  .box1__titulo {
    display: flex;
    /*se aplica mapget*/
    justify-self: center;
    align-self: center;
    padding: 30px;
    font-size: 2rem;
    text-shadow: 10px 5px 5px black;
    text-align: center; }
  .box1__video {
    /*se aplica extend*/ }

.box2 {
  grid-area: box2des;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/discover2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 400px; }
  .box2__titulo {
    display: flex;
    /*se aplica mapget*/
    justify-self: center;
    align-self: center;
    padding: 30px;
    font-size: 2rem;
    text-shadow: 10px 5px 5px black;
    text-align: left; }
  .box2__video {
    /*se aplica extend*/ }

.box3 {
  grid-area: box3des;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/discover3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  height: 400px; }
  .box3__titulo {
    display: flex;
    /*se aplica mapget*/
    justify-self: center;
    align-self: center;
    padding: 30px;
    font-size: 2rem;
    text-shadow: 10px 5px 5px black;
    text-align: center; }
  .box3__video {
    /*se aplica extend*/ }
