/* GENERALES */
@import "./partials/reset.scss";

@import "./partials/headerynav";

@import "./partials/body";

@import "./partials/footer";

@import "./partials/variables";


/*Mixins*/
@mixin Centroalturayancho{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%}

/* ABOUT */
@import "./partials/aboutus/logoabout";
@import "./partials/aboutus/parrafo";

/*--ABOUT US--*/
.about{
    grid-area: main;
    width: 100%;
    background:linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
        ), url(../imagenes/imagencontact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10% 1fr 1fr 1fr;
    grid-template-areas: 
    "imagen1 imagen1"
    "parrafo parrafo"
    "imagen2 imagen2"
    "titulo titulo";
    padding: 30px;
    p{
        text-shadow: 1px 1px 10px black;}
}
h2{
    padding: 10px;}


    /*BANDAS COLABORACIONES*/
    .bandas{
        grid-area: imagen2;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 10px;
        &__titulo{
            @include Centroalturayancho; /*incluyo mixin*/
            display: flex;
            flex-direction: column;
            padding: 1px;
            text-shadow: 10px 5px 5px black;
            h3{
            font-size: 3rem;}
            }
            &__imagenes{
                @include Centroalturayancho; /*incluyo mixin*/
                gap: 30px;}
    }

    /*TITULO FINAL*/
    .titulofinal{
        grid-area: titulo;
        @include Centroalturayancho; /*incluyo mixin*/
        align-self: center;
        text-align: center;
        h3{
            text-shadow: 5px 5px 5px black;
            font-size: 4.5rem;}
    }
    .animate__bounce{
        animation-duration: 8s;} 



/*--INDEX CON GRID--*/
.hero{
    display: grid;
    grid-area: main;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "titulo titulo titulo"
    "carta carta carta"
    "carta carta carta";
    justify-content: center;
    align-content: center;
    width: 100%;
    gap: 10px;
    background: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),url(../imagenes/imagenhero.jpg);
    background-size: cover;
    padding: 5rem;
}

/* TITULO PRINCIPAL*/ 
.contenedor{
    grid-area: titulo;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    height: auto;
    &__titulologo{
        display: flex;
        align-items: center;
        gap: 5px; }
        h1{
            font-size: 2rem;
        }
    &__minititulo{
        text-shadow: 1px 1px 10px black;
        display: flex;
        align-items: center;
        h2{
        font-size: 1rem;}
    }
}

.contenedor__cartas{
    grid-area: carta;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "carta1 carta2 publicidad"
    "carta3 carta4 publicidad";
    height: 50vh;
    width: 100%;
    gap: 5px;
    a{
        text-decoration: none;
        color: white;}
    }

    .cartas{
        @include Centroalturayancho; /*incluyo mixin*/
        box-shadow: 0 2px 2px black;
        border: 0px solid black;
        border-radius: 10px;
        &:hover{
                transform: scale(1.1);}
        h3{
            text-shadow: 1px 1px 1px black;}
        }
    
    /*EACH PARA LAS CARTAS */
    @each $carta in carta1, carta2, carta3, carta4{
        .#{$carta}{
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/#{$carta}.jpg);
       background-size: cover;
       font-size: 2rem;
       grid-area: #{$carta};}
        }

        .publicidad{
            @include Centroalturayancho; /*incluyo mixin*/
            flex-direction: column;
            grid-area: publicidad;
            background-image: linear-gradient(
                0deg,
                rgba(0,0,0,0.2),
                rgba(0,0,0,0.2)
            ),url(../imagenes/Aside.jpg);
            border-radius: 10px;
            box-shadow: 0 2px 2px black;
            &:hover{
                transform: scale(1.1);
            }
            h3{
                text-shadow: 1px 1px 1px black;
            }
            &__titulo{
                color: white;  
                font-size: 3rem;
                text-shadow: 0px 0px 5px grey;
                a{
                    text-decoration: none;
                     color: white;}
                     }
                    }


/*-- NEXT-CONCERT-- */
.nextconcert{
    background: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0, 0.5)
    ), url(../imagenes/nextconcert.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    &__titulo h2{
        font-size: 6rem;}
}
.card{
    opacity: 1;
    img{
        background-size: cover;}
        &:hover{
            opacity:0.5;}
}
/*EXPERIENCIAS */
.exp{
    padding: 50px;
    width: 100%;
    img{
        border-radius: 200px;}
}


/*--CONTACTO--*/
.contacto{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),url(../imagenes/aboutUs.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    h2{
        font-size: 4.5rem;
        text-shadow: 4px 1px 1px black;
    }
    &_lista ul{
        display: flex;
        flex-direction: column;
        list-style: none;
        height:max-content;
    li p{
        font-size: 20px;
    }
    }
}
.animate__jackInTheBox{
    animation-duration: 2s;}
    
/*--DESCUBRE--*/
.descubre{
    background-color: burlywood;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-areas:
    "box0des box0des"
    "box1des box1des"
    "box2des box2des"
    "box3des box3des";
    height: 100%;
    width: 100%;
}

/*MAP GET TITULOS*/
$titulo:(
        display: flex,
        centrado-h: center,
        centrado-v: center,
        pad: 30px,
        tamaño-t: 2rem,
        sombra-t: 10px 5px 5px black);

.box0{
    grid-area: box0des;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url(../imagenes/discover0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 400px;
    &__titulo{
        display: map-get($titulo, display); /*Creacion de map get*/
        justify-self: map-get($titulo, centrado-h);
        align-self: map-get($titulo, centrado-v);
        padding: map-get($titulo, pad);
        font-size: map-get($titulo, tamaño-t);
        text-shadow: map-get($titulo, sombra-t);
        text-align: left;}
    &__video{
        display: flex;
        padding: 10px;
        align-items: center;}
    &__parrafo{
        font-size: 20px;
       align-self: center;
       padding: 50px;
       text-shadow: 1px 1px 10px black;}    
}

.box1{
    grid-area: box1des;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url(../imagenes/discover1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    height: 400px;
    &__titulo{
        display: map-get($titulo, display); /*se aplica mapget*/
        justify-self: map-get($titulo, centrado-h);
        align-self: map-get($titulo, centrado-v);
        padding: map-get($titulo, pad);
        font-size: map-get($titulo, tamaño-t);
        text-shadow: map-get($titulo, sombra-t);
        text-align: center;}
    &__video{ /*se aplica extend*/
        @extend .box0__video} 
    &__parrafo{
        @extend .box0__parrafo}
}

.box2{
    grid-area: box2des;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url(../imagenes/discover2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 400px;
    &__titulo{
        display: map-get($titulo, display); /*se aplica mapget*/
        justify-self: map-get($titulo, centrado-h);
        align-self: map-get($titulo, centrado-v);
        padding: map-get($titulo, pad);
        font-size: map-get($titulo, tamaño-t);
        text-shadow: map-get($titulo, sombra-t);
        text-align: left;}
    &__video{ /*se aplica extend*/
        @extend .box0__video}
    &__parrafo{
        @extend .box0__parrafo}
}

.box3{
    grid-area: box3des;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url(../imagenes/discover3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    height: 400px;
    &__titulo{
        display: map-get($titulo, display); /*se aplica mapget*/
        justify-self: map-get($titulo, centrado-h);
        align-self: map-get($titulo, centrado-v);
        padding: map-get($titulo, pad);
        font-size: map-get($titulo, tamaño-t);
        text-shadow: map-get($titulo, sombra-t);
        text-align: center;}
    &__video{ /*se aplica extend*/
        @extend .box0__video}
    &__parrafo{
        @extend .box0__parrafo}
}
