footer{
    display: flex;
    grid-area: footer;
    height: 6rem;
    background: #212529;
    font-size: 1rem;
    justify-content: center;
 h3{
    padding: 10px;
    color: white;
    align-self: center;
    }
}
